<div class="container">
  <div class="row float-right">
    <div class="col-auto">
      <i [routerLink]="['/atividade/listar']" class="fa fa-list" aria-hidden="true"></i>
    </div>
    <div class="col-auto">
      <i [routerLink]="['/atividade/create']" class="fa fa-plus-square" aria-hidden="true"></i>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <span class="col-auto">
      <h4><b>Atividades mais realizadas por você:</b></h4>
    </span>
  </div>
  <br>


</div>
<app-lista-atividade [rank]="true"></app-lista-atividade>