<div class="container">
	<i class="fa fa-arrow-circle-o-left float-right" (click)="voltar()" aria-hidden="true"></i>
	<form>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="nome">Humor</label>
				<select id="humor" class="form-control" [(ngModel)]="humor.nivel" name="humor">
					<option checked *ngFor="let nivel of niveis" [ngValue]="nivel.codigo">{{nivel.valor}}</option>
				</select>

			</div>
			<div class="form-group col-md-6">
				<label for="nome">Sensação(sensações) até o momento</label><br>
				<span *ngFor="let sensacao of sensacoes; let i = index">
					<input type="checkbox" [(ngModel)]="selecionadosSensacao[i]"
						(change)="adicionaSensacao(selecionadosSensacao[i]? true: false, i)" name="sensacoes">
					{{sensacao.nome}}
				</span>
			</div>
			<div class="form-group col-md-6">
				<label for="nome">Realização(ou realizações) até o momento</label><br>
				<span *ngFor="let realizacao of realizacoes; let i = index">
					<input type="checkbox" [(ngModel)]="selecionadosRealizacao[i]"
						(change)="adicionaRealizacao(selecionadosRealizacao[i]? true: false, i)" name="realizacoes">
					{{realizacao.atividade.nome}}
				</span>
			</div>
			<div class="form-group col-md-6">
				<label for="descricao">Hora de realização</label>
				<input [(ngModel)]="humor.data_criacao" type="datetime-local" class="form-control" name="hora">
			</div>
			<div class="form-group col-md-6">
				<label for="descricao">Descrição</label>
				<textarea [(ngModel)]="humor.descricao" type="text" class="form-control" name="descricao"></textarea>
			</div>
		</div>

		<div class="float-right">
			<button type="submit" (click)="store();" class="btn btn-success">Salvar</button>
		</div>
	</form>
</div>