<div class="container">
  <div class="row float-right">
    <div class="col-auto">
      <i [routerLink]="['/humor/listar']" class="fa fa-list" aria-hidden="true"></i>
    </div>
    <div class="col-auto">
      <i [routerLink]="['/humor/create']" class="fa fa-plus-square" aria-hidden="true"></i>
    </div>
  </div>

  <br>
  <div class="row">
    <span class="col-auto">
      <h4><b>Seu humor, hoje</b></h4>
    </span>
  </div>
  <br>
  <div class="row">
    <app-lista-humor [rank]="true"></app-lista-humor>
  </div>
</div>