<div class="container">
  <div class="row float-right">
    <div class="col-auto">
      <i  [routerLink]="['/realizacao/listar']"  class="fa fa-list" aria-hidden="true"></i>
    </div>
    <div class="col-auto">
      <i [routerLink]="['/realizacao/create']" class="fa fa-plus-square" aria-hidden="true"></i>
    </div>
  </div>
  <br>
  <div class="row">
    <span class="col-auto">
      <h4><b>Realizações do dia</b></h4>
    </span>
  </div>
  <br>
  <div class="row">
    <app-lista-realizacao [rank]="true"></app-lista-realizacao>
  </div>
</div>


