<table class="table table-hover table-borderless table-striped">
  <thead >
    <tr class="table-secondary">
      <th id="col-id" scope="col">Atividades</th>
      <th id="col-id" scope="col">Descrição</th>
      <th id="col-id" scope="col">Tipo</th>
      <th id="col-id" scope="col">Criado em</th>
    </tr>
  </thead>
  <tbody>
    <tr [routerLink]="['/atividade', atividade.id]" *ngFor="let atividade of atividades">
      <td>{{ atividade.nome }}</td>
      <td>{{ atividade.descricao }}</td>
      <td>{{ atividade.tipoAtividade.codigo }}</td>
      <td>{{ atividade.data_criacao | date:'shortDate' }}</td>
    </tr>
  </tbody>
</table>