{% extends 'base/base.html' %}

{% block content %}
<div class="humor">
    {% if humor.data_criacao %}
    <div class="date">
        {{ humor.data_criacao }}
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'edicao_humor' pk=humor.pk %}"><span
            class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    <h2>{{ humor.nome }}</h2>
    <h2>{{ humor.nivel }}</h2>
    {% for sensacao in humor.sensacoes.all %}
    <h2>{{ sensacao.nome }}</h2>
    {% endfor %}
    <p>{{ humor.descricao|linebreaksbr }}</p>
</div>
{% endblock %}