<div *ngIf="atividade" class="container">
	<i class="fa fa-arrow-circle-o-left float-right" (click)="voltar()" aria-hidden="true"></i>
	<form>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="nome">Nome</label>
				<input [(ngModel)]="atividade.nome" type="text" class="form-control" id="column_1" name="column_1"
					placeholder="Value 1">
			</div>
			<div class="form-group col-md-6">
				<label for="tipoAtividade">Tipo de atividade</label>

				<select id="column_2" class="form-control" [(ngModel)]="atividade.tipoAtividade" name="column_2">
					<option [ngValue]="undefined">Todos</option>
					<option *ngFor="let tipoAtividade of tiposAtividade" [ngValue]="tipoAtividade.codigo">
						{{ tipoAtividade.nome }}</option>
				</select>

			</div>
			<div class="form-group col-md-6">
				<label for="descricao">Descrição</label>
				<textarea [(ngModel)]="atividade.descricao" type="text" class="form-control" id="column_3"
					name="column_3" placeholder="Value 3"></textarea>
			</div>
		</div>
		<div class="float-right">
			<button type="submit" (click)="update();" class="btn btn-success ">Salvar</button>
		</div>
		<div class="float-left">	
			<button type="submit" (click)="delete();" class="btn btn-danger">Excluir</button>
		</div>
	</form>
</div>